head
 
body
  header.header 

    
    
    block content
      h1.
        Delete a video
      p Users of the  <a href='https://Livestream.a.video'>livestream.a.video</a> demo create a recording of their livestream.
      p These are the 3 oldest recordings in my account.  Help me out by deleting them!
      for videos in video
        img(src=videos.thumbnail width ="500")
        p #{videos.title}  

    form(action='/delete', method='post')
      p 
        input(type='hidden', name='videos', value=video)
      input(type='submit', value='DELETE')
	
    a(href='/') delete more!
    p
    